<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Mes Tâches</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Mes Tâches</ion-title>
      </ion-toolbar>
    </ion-header>

    <div class="ion-padding">
      <ion-list>
        <ion-list-header>
          <ion-label>Tâches à accomplir</ion-label>
          <ion-badge color="warning">{{ tasks.length }}</ion-badge>
        </ion-list-header>
        <ion-item *ngFor="let task of tasks">
          <ion-label>{{ task.name }}</ion-label>
          <ion-button slot="end" color="success" (click)="markAsCompleted(task)"><ion-icon name="checkmark-circle-outline"></ion-icon></ion-button>
          <ion-button slot="end" color="danger" (click)="deleteTask(task)"><ion-icon name="close-circle-outline"></ion-icon></ion-button>
        </ion-item>
      </ion-list>
    </div>

    <div class="ion-padding">
      <ion-list>
        <ion-list-header class="taskAccomplished">
          <ion-label>Tâches accomplies</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let task of completedTasks">
          <ion-label>{{ task.name }}</ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div class="ion-padding">
      <div class="flex-container">
        <ion-textarea [(ngModel)]="newTask" label="Ajouter une tâche" labelPlacement="floating" fill="outline" placeholder="Faire du café"></ion-textarea>
        <ion-button color="success" (click)="addTask()">Ajouter</ion-button>
      </div>
    </div>
  </ion-content>
</ion-app>
