<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Mes Tâches</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Mes Tâches</ion-title>
      </ion-toolbar>
    </ion-header>

    <div class="ion-padding">
      <ion-list>
        <ion-list-header>
          <ion-label>Tâches à accomplir</ion-label>
          <ion-button>Voir tout</ion-button>
        </ion-list-header>
        <ion-item>
          <ion-checkbox justify="space-between">Faire du café</ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-checkbox justify="space-between">Faire du thé</ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-checkbox justify="space-between">Faire du riz</ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-checkbox justify="space-between">Faire des pâtes</ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-checkbox justify="space-between">Faire la vaisselle</ion-checkbox>
        </ion-item>
      </ion-list>
    </div>

    <div class="ion-padding">
      <ion-list>
        <ion-list-header class="taskAccomplished">
          <ion-label>Tâches accomplies</ion-label>
          <ion-button>Voir tout</ion-button>
        </ion-list-header>
        <ion-item>
          <ion-label>Faire du riz</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Faire des pâtes</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Faire du café</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Faire du thé</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Faire la vaisselle</ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div class="ion-padding">
      <div class="flex-container">
        <ion-textarea
          label="Ajouter une tâche"
          labelPlacement="floating"
          fill="solid"
          placeholder="Ex: Faire du café"
        ></ion-textarea>
        <ion-button color="success">Ajouter</ion-button>
      </div>
    </div>
  </ion-content>
</ion-app>
