ion-list-header {
    --background: #f2a94a;
    --color: #fff;
  
    --border-width: 0 0 4px 0;
    --border-color: #ffffff;
    --border-style: double;
  }

  .taskAccomplished {
    --background: #7af24a;
    --color: #fff;
  
    --border-width: 0 0 4px 0;
    --border-color: #ffffff;
    --border-style: double;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ion-textarea {
    border: 1px solid #666666;
    border-radius: 5px;
  }