ion-list-header {
    --background: #f2a94a;
    --color: #000000;

    --border-width: 0 0 4px 0;
    --border-color: #ffffff;
    --border-style: double;

    background: rgba(255, 196, 0, 0.4);
}

ion-badge {
    margin-right: 25px;
    --padding-end: 20px;
    --padding-start: 20px;
}

ion-button {
    --border-radius: 25px;
    --padding-end: 10px;
    --padding-start: 10px;
}

ion-list {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
}

ion-item {
    background: rgba(255, 255, 255, 0.7);
}

.list-md {
    padding: 0;
}