ion-list-header {
    --background: #f2a94a;
    --color: #000000;

    --border-width: 0 0 4px 0;
    --border-color: #ffffff;
    --border-style: double;
}

ion-badge {
    margin-right: 25px;
    --padding-end: 20px;
    --padding-start: 20px;
}

ion-button {
    --border-radius: 25px;
}